################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/test/MSVC/.vs/ConsoleApplication1/v15
/test/MSVC/Debug
/test/MSVC/Release
/test/MSVC/Release-noPDB
/test/MSVC/x64/Release
/test/MSVC/x64/Debug
/test/MSVC/x64/Release-noPDB
/test/MSVC/ConsoleApplication1.log
/test/MSVC/*.exe
/test/MSVC/*.obj
/test/MSVC/*.pdb
/test/MSVC/*.idb
/test/MSVC/*.ilk
/test/MSVC/obftemp.bat
/test/MSVC/failed.bat
/test/Clang/obfdbg
/test/Clang/obfrel
/test/Clang/obfofficial
/test/Clang/helper
/test/Clang/obftemp
/test/Clang/obftemp-release
/test/Clang/obftemptest.sh
/test/Clang/ConsoleApplication1.log
/test/Clang/failed.sh
/test/Clang/obftemp.dSYM/
/test/Clang/local_obftemp.txt
/test/MSVC/MSVC-linker-MT-bug
/test/MSVC/runtest32
/test/MSVC/local_obftemp.txt
